/* BabelStoneHan */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')	format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'BabelStoneHan';
	src:
		url('../fonts/babelstonehan.woff2')	format('woff2'),
		url('../fonts/babelstonehan.woff')		format('woff'),
		url('../fonts/babelstonehan.ttf')		format('truetype');
}
span.babelstonehan { font-family: 'BabelStoneHan', 'NotoSans', 'Arial', 'sans-serif'; }
