/* Urdu */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')	format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'HindiUrdu';
	src:
		url('../fonts/akshar_unicode.woff2')	format('woff2'),
		url('../fonts/akshar_unicode.woff')	format('woff'),
		url('../fonts/akshar_unicode.ttf')		format('truetype');
}
span.urd-ur { font-family: 'HindiUrdu', 'NotoSans', 'Arial', 'sans-serif'; }
