/* Marathi */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../aion_fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../aion_fonts/notosans-basic-regular.woff')	format('woff'),
		url('../aion_fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'Marathi';
	src:
		url('../aion_fonts/notoserifdevanagari-regular.woff2')	format('woff2'),
		url('../aion_fonts/notoserifdevanagari-regular.woff')	format('woff'),
		url('../aion_fonts/notoserifdevanagari-regular.ttf')	format('truetype');
}
span.mar-mr { font-family: 'Marathi', 'NotoSans', 'Arial', 'sans-serif'; }
