/* Panjabi */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')	format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'Panjabi';
	src:
		url('../fonts/notosansgurmukhiui-regular.woff2')	format('woff2'),
		url('../fonts/notosansgurmukhiui-regular.woff')	format('woff'),
		url('../fonts/notosansgurmukhiui-regular.ttf')		format('truetype');
}
span.pan-pa { font-family: 'Panjabi', 'NotoSans', 'Arial', 'sans-serif'; }
