/* Aramaic */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')	format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'Aramaic';
	src:
		url('../fonts/estrangelo_edessa.woff2')	format('woff2'),
		url('../fonts/estrangelo_edessa.woff')		format('woff'),
		url('../fonts/estrangelo_edessa.ttf')		format('truetype');
}
span.syr { font-family: 'Aramaic', 'NotoSans', 'Arial', 'sans-serif'; }
