/* Korean */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../fonts/notosans-basic-regular.woff')	format('woff'),
		url('../fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'Korean';
	src:
		url('../fonts/unbatang.woff2')	format('woff2'),
		url('../fonts/unbatang.woff')	format('woff'),
		url('../fonts/unbatang.ttf')	format('truetype');
}
span.kor-ko { font-family: 'Korean', 'NotoSans', 'Arial', 'sans-serif'; }
