/* Oriya */
@font-face {
	font-family:
		'NotoSans';
	src:
		url('../aion_fonts/notosans-basic-regular.woff2')	format('woff2'),
		url('../aion_fonts/notosans-basic-regular.woff')	format('woff'),
		url('../aion_fonts/notosans-basic-regular.ttf')		format('truetype');
}
@font-face {
	font-family:
		'Oriya';
	src:
		url('../aion_fonts/notosansoriyaui-regular.woff2')	format('woff2'),
		url('../aion_fonts/notosansoriyaui-regular.woff')	format('woff'),
		url('../aion_fonts/notosansoriyaui-regular.ttf')	format('truetype');
}
span.ory-or { font-family: 'Oriya', 'NotoSans', 'Arial', 'sans-serif'; }
